<ion-view title="Documentos" id="pdf2">
 <ion-content padding="true" style="background: url(img/rWWogkMpScmC7UjnLzya_cielospl.jpg) no-repeat center;background-size:cover;" class="has-header">
    <img src="img/VrEmIkKbTXGwUGrBqS9w_header.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
 <div class="list">
            <a class="item" href="#" onclick="window.open('http://www.publi-italy.cl/spl_/LEY.pdf', '_system', 'location=yes'); return false;">
           LEY
            </a>
            <a class="item" href="#" onclick="window.open('http://www.publi-italy.cl/spl_/DAN%20121.pdf', '_system', 'location=yes'); return false;">
              DAN
            </a>
            <a class="item" href="#" onclick="window.open('http://www.publi-italy.cl/spl_/CONVENIO%20COLECTIVO_SPL_2015-2019.pdf', '_system', 'location=yes'); return false;">
               CONVENIO COLECTIVO
            </a>
             <a class="item" href="#" onclick="window.open('', '_system', 'location=yes'); return false;">
               REPORTES
            </a>
        </div>
  	
  </ion-content>
</ion-view>